@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

#bar {
    width: 200vw;
    transition: 1000ms all linear;
}

#timer {
    position: absolute;
    margin: auto;
    font-size: 30vw;
    font-weight: 900;
    -webkit-text-stroke: 1.5px #2670ca;
    -webkit-text-fill-color: white;
    z-index: 10;
}

body {
    font-family: Roboto, sans-serif;
    overflow: hidden;
    background-color: black;
    color: white;
    /* background-image: url("../img/320px.jpg"); */
}

body.is-flexible {
    overflow: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    min-height: 100vh;
    padding: 24px 56px 40px 32px;
    position: relative;
}

.content.is-index {
    display: block;
}

h1 {
    font-weight: 900;
    font-size: 88px;
    line-height: 1.1;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: black;
    padding-bottom: 40px;
    padding-top: 16px;
}

.is-right {
    position: absolute;
    right: 32px;
}

.is-bottom {
    position: absolute;
    bottom: 0;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 48px;
    font-weight: 500;
}

h2 span:last-child {
    padding-left: 48px;
}

h2 a {
    color: inherit;
}

h2 a:hover {
    color: #2670ca;
}

h3 {
    font-size: 22px;
    line-height: 1.4;
    padding-bottom: 16px;
    font-weight: 500;
}

p {
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4;
}

ul {
    list-style: circle inside;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 300;
}

li {
    line-height: 1.4;
    padding-bottom: 16px;
}

.btn {
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 16px 24px;
    color: white;
    border: 1px solid white;
    border-radius: 42px;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 32px;
    background: black;
    cursor: default;
}

.btn.is-right {
    left: unset;
    right: 56px;
}

.btn:hover {
    color: #2670ca;
    border: 1px solid #2670ca;
}

.info {
    border: 1px solid white;
    padding: 24px 96px 24px 16px;
    display: inline-flex;
    flex-flow: column;
    background: black;
    box-shadow: 16px 16px rgba(255, 255, 255, 0.1);
    max-width: 960px;
    overflow: scroll;
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#canvas2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#canvas3 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 768px) {
  .content {
    padding: 8px 56px 49px 16px;
  }

  h1 {
      font-size: 48px;
      line-height: 1.2;
      letter-spacing: 5px;
      padding-bottom: 35px;
    }

    h2 {
    font-size: 20px;
    }

    .btn {
    bottom: 48px;
    left: 16px;
    }
}

@media (max-width: 320px) {
    .content {
      padding: 0;
    }

    h1 {
    font-size: 38px;
    line-height: 1.4;
    text-align: center;
    padding-bottom: 16px;
    }

    h2 {
    font-size: 18px;
    text-align: center;
    }

    .btn {
    bottom: 48px;
    left: 74px;
    }
}
